version: '3.8'

services:
  app:
    build:
      context: .
      args:
        VITE_API_KEY: ${VITE_API_KEY}
    ports:
      - "3000:3000"
    environment:
      - API_KEY=${VITE_API_KEY}
      - VITE_API_KEY=${VITE_API_KEY}
    container_name: linuxapp-explainer
