
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  labels:
    app: my-app
spec:
  replicas: 4
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app
          image: us-central1-docker.pkg.dev/ubioworo-project/my-repository/my-app:latest
          ports:
            - containerPort: 3000
          env:
            
            - name: VITE_API_KEY
              valueFrom:
                secretKeyRef:
                  name: my-app-api-key
                  key: VITE_API_KEY
            
            
