name: CI/CD Docker Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-scan-push:
    runs-on: ubuntu-latest
    env:
      GCP_IMAGE: us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/my-repository/my-app: latest
      DOCKERHUB_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/linuxapp-explainer: latest 

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

     
      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

     
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

     
      - name: Configure GCP Docker
        run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

      - name: Build Docker image
        run: |
          docker build -t $GCP_IMAGE -t $DOCKERHUB_IMAGE .

     
      - name: Scan image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.GCP_IMAGE }}
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'

    
      - name: Push to GCP
        run: |
          docker push $GCP_IMAGE
          docker tag $GCP_IMAGE us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/my-repository/my-app:latest
          docker push us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/my-repository/my-app:latest

      - name: Push to Docker Hub
        run: |
          docker push $DOCKERHUB_IMAGE
          docker tag $DOCKERHUB_IMAGE ${{ secrets.DOCKERHUB_USERNAME }}/linuxapp-explainer:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/linuxapp-explainer:latest